<div id="<%= dom_id plaid_credential %>">
  <p>
    <strong>Institution Name:</strong>
    <%= plaid_credential.institution_name %>
  </p>

  <p>
    <strong>Institution ID:</strong>
    <%= plaid_credential.institution_id %>
  </p>

</div>