<head>
  <title>Connect a bank</title>
</head>
<body>
<h1>Welcome <%=@user_id%></h1>
<button id='linkButton'> Open Plaid Link </button>
<button id='txnButton'> Get Transactions </button>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
async function get_token(){
    let x = await fetch('/create_link_token', {method: "post"})
    let data = await x.json()
    let linkHandler = Plaid.create({
    token: data.link_token,
    onSuccess: async function (public_token, metadata){
        // Send the public_token to your app server.
        const response = await fetch(`/exchange_public_token/${public_token}`, {
            method: "post"
        });
        return response
    }
    })
    linkHandler.open();
} 

document.getElementById('linkButton').onclick = function() {
    get_token()
};

async function get_transactions(){
    const things = await fetch('/sync_transactions', {
        headers: {
            "content-type": "application/json"
        },
        method: "get"
    })
    console.log('got data!')
    const response = await things.json()
    console.log('converted!')
    console.log("response:", response)
} 

document.getElementById('txnButton').onclick = function() {
    get_transactions()
};
</script>


</body>