/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* colors:
 #ffebff (white purple)
 #383b53 (dark gray)
 #a8d4ad (green)
 #f19c79 (tangerine)
 #a594f9 (purple)
 */
body{
    background-color: white;
    color: #383b53;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 0 0;
    min-height: 100vh;
}

.bod{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.txn{
    display: grid;
    grid-template-columns: 1fr;
}

h1{
    text-align: center;
}

.bar{
    display: flex;
    width: 100vw;
    text-decoration: none;
    gap: 10px;
    list-style-type: none
}

a{
    color: #383b53;
}

a:visited{
    text-decoration: none;
    color: #383b53;
}

a:hover{
    text-decoration: none;
    color:  #a8d4ad;
    background-color: #383b53;
}

.page{
    width: 100vw;
    margin-left: 5px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #a594f9;
    margin-top: 0;
    height: 7vh;
    padding: 6px;
}

.nav a{
    color: white;
}

.load{
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    align-self: center;
    border: 7px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1s infinite alternate load;
}

@keyframes load {
    from {
        width: 30vh;
        height: 30vh;
        border: 7px solid #383b53;
    }
    to {
        width: 40vh;
        height: 40vh;
        border: 7px solid #a594f9;
    }
}

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:  #a594f9;
    margin-bottom: 0;
    height: 7vh;
    padding: 6px;
}

.notice, .alert{
    height: 1px;
    background-color: #a594f9;
    color: #a594f9;
    margin: 0;
}