/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    color: blue;
    flex-direction: column;
    align-items: center;
}

.txn{
    display: grid;
    grid-template-columns: 1fr;
}

.row{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 2vh;
}

h1{
    text-align: center;
}

table{
    width: 90vw;
}

tr{
    display: flex;
    justify-content: center;
}

td{
    text-align: center;
}

.bar{
    display: flex;
    width: 100vw;
    text-decoration: none;
    gap: 10px;
    list-style-type: none
}

.page{
    width: 100vw;
    margin-left: 5px;
}