<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<%= link_to "HOME", root_path %>

<a href='/categories/budget_categories'>BUDGETS</a>
<a href='/categories/fund_categories'>SAVINGS FUNDS</a>
<%= link_to "New category", new_category_path %>
